.s-down{
    border-bottom: 1px solid #F1F1F1;
}
.s-up{
    border-top: 1px solid #F1F1F1;
}
.hot{
    padding: 3px 10px;
    margin-left: 20px;
    font-size: 10px;
    color: #fff;
    border-radius: 4px;
    color: #fff;
    opacity: 0.7;
}
.new{
    padding: 3px 10px;
    margin-left: 8px;
    font-size: 10px;
    color: #fff;
    border-radius: 4px;
    color: #fff;
    opacity: 0.7;
}
.arrow-right{
    font-size: 10px;
    text-align: center;
    color: #9A9A9A;
    position: absolute;
    top: 22px;
    right: 14px;
}
.s-m-down{
    position: absolute;
    transform: translateX(calc(-50%));
    z-index: -1;
    border-width: 0 0 6px;
    border-style: solid;
}